<div class="back-image">
<div class="back-color">
<div class=shop-main style="margin-top: 55px;">
	<div class=shop-sub-main>
		<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 col-xs-12" style="height:690px;">
				<div class="text" style="padding-top:90px; padding-bottom: 90px; font-size: 60px; text-align: center; ">購入が完了しました。</div>
				<p style="text-align: center;">
				<%= link_to "【マイページに戻る】", user_path(current_user.id), style: "color:black;", class: "btn btn-success text", style: "color:white; font-size:60px; margin:40px auto;" %>
				</p>
			</div>
		</div>
		</div>
	</div>
</div>
</div>
</div>

