<div class="back-image">
<div class="back-top-color">

<div class=shop-main style="margin-top: 55px;">
    <div class=shop-sub-main>
        <div class="container">
            <div class="row">
            <div class="col-xs-12" style="text-align: center;">

					<h1><%= link_to "お店情報を見る", shop_path(current_shop.id) , class: "btn btn-warning text",style:"font-size: 40px; margin-top:80px; color:white;"%></h1>
					<h1><%= link_to "お店情報を編集", edit_shop_path(current_shop.id),class: "btn btn-info text",style:"font-size: 40px; margin-top:40px; color:white;" %></h1>
					<h1><%= link_to "新しい商品を追加", new_product_path,class: "btn btn-success text",style:"font-size: 40px; margin-top:40px; color:white;" %></h1>
					<h1><%= link_to "フォロワーを見る", shops_follow_index_path(current_shop.id),class: "btn btn-primary text",style:"font-size: 40px; margin-top:40px; color:white; margin-bottom:120px;" %></h1>
			</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>