<div class="back-image">
<div class="back-top-color">
<div class=shop-main style="margin-top: 55px;">
	<div class=shop-sub-main>
		<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 col-xs-12" style="margin-bottom: 40px; text-align: center;">
				<h1 class="text" style="font-size:45px; color:red; margin-bottom: 30px;">あまいスイカ</h1>
					<img src="/43057.png" alt="画像" class="login-user-image" style="display: inline-block;">
					<h1 class="text" style="font-size:40px; margin-bottom: 60px; display: inline-block;">ユーザーの方</h1>
				<%= link_to "新規登録", new_user_registration_path ,class: "text label label-info", style:"font-size:45px;  display:block; margin:0 30%;" %>
				<%= link_to "ログイン", new_user_session_path ,class: "text label label-warning", style:"font-size:45px; display:block; margin:3% 30%;"%>

				<img src="/43051.png" alt="画像" class="login-shop-image" style="display: inline-block;">
				<h1 class="text" style="font-size:40px; margin-bottom: 60px; margin-top:30px; display: inline-block;">お店の方</h1>
				<%= link_to "お店をつくる", new_shop_registration_path ,class: "text label label-info", style:"font-size:45px; margin-bottom:4%; display:block; margin:0 30%;"%>
				<%= link_to "自分のお店に入る", new_shop_session_path ,class: "text label label-warning", style:"font-size:45px; display:block; margin:3% 30%;"%>
			</div>
		</div>
		</div>
	</div>
</div>
</div>
</div>