<h1>あまいスイカ</h1>
<h1>ユーザーの方</h1>
<%= link_to "新規登録", new_user_registration_path %>
<%= link_to "ログイン", new_user_session_path %>
<h1>お店の方</h1>
<%= link_to "お店をつくる", new_shop_registration_path %>
<%= link_to "自分のお店に入る", new_shop_session_path %>