<div class="container" style="margin-top: 200px;">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10 main-back", style="background-color: rgba(0,0,0,0.7);">
  				<h1 class="finish-text">購入が完了しました。</h1></br>
  				<div class="my-page">
  				<div class="simple-text "><%= link_to "【マイページに戻る】", user_path(current_user.id), style: "color:black;" %></div></div>
  		</div>
  		<div class="col-sm-1">
        </div>
</div>
