/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap-sprockets";
@import "bootstrap";

/*--------------- 共通 ---------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.star-ratings-sprite {
background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
font-size: 0;
overflow: hidden;
width: 110px;
display: inline-block;
}
.star-ratings-sprite-rating {
background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
background-position: 0 100%;
float: left;
height: 21px;
display: inline-block;
}

.back-color{
	background-color:#FFFF99;
	opacity: 0.9;
	z-index: 1;
}

.back-image{
	/*background-color:#FFFF99;*/
	background-image:url("/dmitry-bayer-348230-unsplashhhhh.jpg");
	background-size: cover;
}

.footer-color{
	background-color:#FFFFBB;
	opacity: 0.9;
}

.out-shop{
	display: inline-block;
}

a:hover {
  color: red;
}

.text{
	font-family: "游明朝体","YuMincho"; font-weight: 900;
	color:black;
}

/*--------------- header ---------------*/
header {
	height: 60px;
	width: 100%;
  margin-bottom: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.header-logo{
	width:18%;
	height:auto;
	background-size: cover;
    background-position: center;
}

.search-form{
	float: right;
}
.navbar, .navbar-default{
	background-color: white;
}


/*--------------- レスポンシブ対応 ---------------*/

/* タブレット横置き(1024px)程度の大きさ以下に適用される設定です */
@media screen and (max-width:1024px) {




}

/* タブレット縦置きサイズ(768px)程度の画面の大きさ以下に適用される設定です */
@media screen and (max-width:768px) {



}

/* スマートフォンサイズ(425px)程度の画面の大きさ以下に適用される設定です */
@media screen and (max-width:425px) {
.container{
	width:100%;
}
.shop-sub-main{
	width:100%;
	margin-right:0px;
	margin-left:0px;
}



}
