// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*------------------------------------*/
/*           product_search           */
/*------------------------------------*/
.blog-main-visual{
    width: 100%;
    height: 350px;
    background-image: url("/rawpixel-653771-unsplash.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
.blog-main-visual-content {
  height: 300px;
  text-align: center;
  padding-top: 90px;
  padding-left: 50px;
}
.blog-main-visual-text {
    letter-spacing: 2px;
    color: white;
    font-family: Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;

}

.product_seach_main{
	width:100%;
}

.product-image img{
	width: 100%;
	height:250px;
}

.shop-image img{
	width: 100%;
	height:250px;
}

.user-products {
	width: 100%;
	height: auto;
}

.user-favorites,.user-follows{
	width:90%;
	margin:0 auto;
}

.product-info{
	width:19%;
	height:450px;
	float:left;
	margin: 30px 7%;
	background-image: url("/43257.jpg");
}

.product-name{
	float:left;
}

.product-price{
	float:right;
}